<style>

* {
    padding: 0px;
    margin: 0px;
}

/* portrait mode warning */
#warning-message { display: none;
background-color: black;
color:white;
font-size:30px;
}


/* query screen size and display either portrait warning or full menu content */

@media only screen and (orientation:portrait){
.outer { display:none; }
#warning-message { display:block; }

 }

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

}


html {
    width: 100%;
    height: 100%;
    }

body {
    /* path to custom cursor */
    cursor: url('images/cursor.cur'), default;
    }

/*background*/
.outer {
    background: url('images/retro.png') fixed;
    background: url('images/retro.png') fixed;
    background-size: contain;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat no-repeat;
    background-position: right;
    background-color: black;
    }

/*IMAGE STACKING EXPERIMENT*/
/*
* {
    box-sizing: border-box;
    }
*/


.image-stack {
    display: grid;
    position: relative; // imperative for the overlapping to work
    grid-template-columns: repeat(12, 1fr);
    }
.image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 0%; // slightly arbitrary, keeps proportion once resized
    z-index: 1; // tells the browser to make this image on top
    }
.image-stack__item--bottom {
    grid-column: 1 / -1;
    grid-row: -1;
    padding-top: 0%; // slightly arbitrary, keeps proportion once resized
    }
    img {
    width: 40%;
    display: block;
    }



/*Container for center console*/
.container {
    position: relative;
    width: 90%;
    left: 5%;
    background-color: rgba(130, 20, 120,);
    }


/* header image properties */
.masthead img {
    /* image will scale to width of container & maintain aspect ratio */
    width: 100%;
    }

/*https://www.w3schools.com/howto/howto_css_image_text.asp*/
/* Container holding the image and the text */
    .button-container {
      padding: 0;
      min-height: 3rem;
      align-self: center;
      align-content: center;
      border: 0px ridge white;
      min-width: 10%;
      max-width: 10%;
      color: green;
      text-decoration: none;
      position: relative;
      width: 37.25;
      left: 0%;
      font-size: 40px;
      font-family: 'Jolly Lodger', cursive;
      color: green;
      text-align: center;
      text-shadow: 1px 1px black;
      text-decoration: none;

      }

    /* Bottom left text */
    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
      color: white;
      }

    /* Top left text */
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
      color: white;
      }

    /* Top right text */
    .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
      color: white;
      }

    /* Bottom right text */
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
      color: white;
      }

      /* Centered text */
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: 'Jolly Lodger', cursive;
      transform: translate(-50%, -50%);
      color: white;
      }

    a{
      color: white;
      }

    a:visited {
      color: rgba(150,150,150,0.1);
      }

    .button-container:hover {
      /*text-decoration: orange wavy underline;*/
      text-shadow: 3px 3px #bf9000;
      /*background: rgba(255,255,255,0.5);*/
      }

    .button-container:hover {
      /*text-decoration: orange wavy underline;*/
      text-shadow: 3px 3px grey;
      background: rgba(255,255,255,0);
      }

/* links to patreon, homepage etc. */

.contact-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 4%;
    width: 66%;
    left: 17%;
    margin-top: 15%;
    font-family: 'Jolly Lodger', cursive;
    text-align: center;
    color: green;
    }


.contact-item {
    padding: 1%;
    margin: 1%;
    border: 3px ridge white;
    width: 24%;
    text-align: center;
    color: white;
    text-decoration: none;
    background: rgba(76, 175, 80, 0);
    background-position: bottom;
    }

.contact-item:hover {
    color: green;
    /*text-decoration: underline overline;*/
    text-shadow: 0px 0px #bf9000;;
    background: url('images/fog2.gif');
    }


/* style for menu container */

#playlist-frame {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10vh;
    margin-top: 5vh;
    }


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    max-width: 100%;
    left: 0%;
    height: 100px;
    /* what font should the titles be? */
    font-family: 'Courier Prime', monospace;
    text-align: center;
    }

.plays >* {
    flex: 1 0 25%;
    }

.item {
    padding: 0;
    min-height: 3rem;
    align-self: center;
    align-content: center;
    border: 0px ridge white;
    min-width: 40%;
    max-width: 40%;
    color: green;
    text-decoration: none;
    background: rgba(255,255,255,0);
    font-family: 'Jolly Lodger', cursive;
    }

/* link style after visited */
.item:visited {
    color: #4c4141;
    background: rgba(0,0,0,1);
    }

/* link style on mouse hover */
.item:hover {
    text-decoration: orange wavy underline;
    text-shadow: 2px 2px red;
    /*background: rgba(255,255,255,0.5);*/
    }



/* intro video sizing & positioning */
.intro-vid {
    position: relative;
    width: 95%;
    left: 2.5%;
    padding-bottom: 10px;
    }


/* footer */
.footer {
    position: fixed;
    width: 100%;
    height: 25%;
    bottom: 900px;
    /* with whatever you want to stick at the bottom */
    /*background: url('images/fog.gif');*/
    }


/* youtube */

.youtube-responsive-container {
position:relative;
padding-bottom:10%;
padding-top:10px;
height:0;
/* overflow:hidden;  i feel like this is why the bottom player controls get cut off*/
}

.youtube-responsive-container iframe,
.youtube-responsive-container object,
.youtube-responsive-container embed {
position:absolute;
width:50%;
height:200%;
left: 40%;
top: 0px;
}


</style>
